/* Webfont: NickySans-SemiBold */@font-face {
    font-family: 'NickySansSemBd';
    src: url('NickySans-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('NickySans-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

