/* Webfont: NickySans-ExtraLightItalic */@font-face {
    font-family: 'NickySansExtLt';
    src: url('NickySans-ExtraLightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('NickySans-ExtraLightItalic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

