/* Webfont: NickySans-SemiBoldItalic */@font-face {
    font-family: 'NickySansSemBd';
    src: url('NickySans-SemiBoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('NickySans-SemiBoldItalic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

