/* Webfont: NickySans-ThinItalic */@font-face {
    font-family: 'NickySansThin';
    src: url('NickySans-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
         url('NickySans-ThinItalic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

