@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #eed59c;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-nickysans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eed59c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nickysans), sans-serif;
}

