@import "tailwindcss";

:root {
    --background: #1E1A17;      /* Dark Coffee Brown */
  --foreground: #F3ECE7;      /* Creamy White */
  --accent: #D4A373;          /* Caramel Tan */
  --hover: #A47148;           /* Deep Mocha */
  --link: #ECD6C0;            /* Soft Latte */
  --font-sans: var(--font-nickysans);
  --font-mono: var(--font-geist-mono);
}

 

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

/* Optional utility if you want to use CSS vars in Tailwind classes */
.bg-brand {
  background-color: var(--background);
}

.text-brand {
  color: var(--foreground);
}

a {
  color: var(--link);
}

a:hover {
  color: var(--hover);
}
