/* Webfont: NickySansAlt-SemiBold */@font-face {
    font-family: 'NickySansAltSemBd';
    src: url('NickySansAlt-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('NickySansAlt-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

