/* Webfont: NickySansAlt-Regular */@font-face {
    font-family: 'NickySansAlt';
    src: url('NickySansAlt-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('NickySansAlt-Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

