/* Webfont: NickySansAlt-Light */@font-face {
    font-family: 'NickySansAltLight';
    src: url('NickySansAlt-Light.woff2') format('woff2'), /* Modern Browsers */
         url('NickySansAlt-Light.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

