/* Webfont: NickySansAlt-Medium */@font-face {
    font-family: 'NickySansAltMed';
    src: url('NickySansAlt-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('NickySansAlt-Medium.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

